
<div class="jumbotron">
     <div class="container"> 
			<center><table class='embertainer'>
				    <tr>
					<td>
					    <h4>
					        {{#link-to 'emvideo'}}
					                About
					        {{/link-to}}
					    </h4>
					</td>
					<td>
					    <h3>
					        {{#link-to 'emvideo' this}}
					                 Emberia
					        {{/link-to}}
					    </h3>
					</td>
					<td>
					    <h4>
					        {{#link-to 'emvideo' this}}
					                  How-To
					        {{/link-to}}
					    </h4>
					</td>
				    </tr>
				</table><br />
			</center>

			<center><div class='statement'>
				        <h1>
				             Sign in to add an emvideo
						</h1>	
				    </div>
			</center>
			<center>
				    <div class='Oauth'>
				        <table>
				               <tr>
				                    <td><button id='git'>Github</button></td>
				                    <td><button id='twit'>Twitter</button></td>  
				                    <td><button id='goog'>Google+</button></td>
				               </tr>
				        </table>
				   
                    </div>
            </center>
                    
    </div>
</div>

<div class="jumbotron-index">
     <div class="container">
     	<h3>Emvideos</h3>
         
     	<!-- <div class='casts'>
        	     <p>
	                <iframe src="{{url}}" frameborder="0"></iframe>
                </p> 
        </div>  -->
     	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

		<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>

		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

		<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
     </div>
</div>

<div class="jumbotron-about">
     <div class="container">
     	<div class='title'><h4>ABOUT</h4></div>
         <div class='text-flow'>
         	The app was born from frustration: I don't think there are enough good emvideos that reflect the improvements made to the framework as they happen.Therfore, this application has only one purpose: allow the ember community to add emvideos that they think could add value. We know how fast ember is evolving, so fast that by the time you finish your app, new improvements to the API have been brought about. 
			The documentation is excellent, but, digging through it could be a dompting and time-consuming task. Seeing is believing: not only do screencats show you how it's done, but, they can save you a great deal of time, as well. Those of you who know of any good screencasts that you think deserve to be added to the list, please:
			<p>1- take a look at what was already been listed before you click the 'Add' button. If you try to add a screencast that's alreading been listed, you will get an error. </p>
			<p>2- Add recent screencasts. The more recent, the better. The application will reject any emvideos dated before 2013.</p>
			<p>I included some of the ember screencasts that got everyone started on the framework, such as, Tome Dale's, Yehuda's, etc as a starting point and others that inpired me to learn ember and write this app.
			</p>
		</div>
		<center>
			<table>
			  <tr>
				<td>
					You do need to sign in, using one of the three options, to add emvideos. And please, no porn!&nbsp&nbsp
				</td>
				<td class="emo"><td>
			  </tr>
		    </table>
		</center>
     </div>
</div>

<div class="jumbotron-howto">
     <div class="container">
     	<div class='title'><h4>HOW-TO</h4></div>
         <div class='text-flow'><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p></div>
     </div>
</div>
<div class='footer'>
	<div class='container' id='icon'>
        <center>
        	<h2>&nbspEMBERIA</h2>
        	<h5>Kodefuge Inc &copy; 2013 &nbsp Builder: Adam Raouki.</h5><hr />
            <table>
        	  <tr>
        		<td class='git'>g</td><td>&nbsp</td>
        		<td class='goog'>g+</td><td>&nbsp</td>
        		<td class='twit'>t</td><td>&nbsp</td>
        		<td class='in'>in</td><td>&nbsp
        		<td class='face'>f</td><td>
        	  </tr>
            </table>
        </center>
      <!-- <center>
        <img class='git'>
        <img class='in'>
        <img class='icon'>&nbsp&nbsp&copy; Kodefuge 2013&nbsp&nbsp
        <img class='twit'>
        <img class='goog'>
      </center> -->
	</div>
</div>













